<div id="top-bar" class="padding">
    <label class="top-bar-title mono-font">
        {username}@{applicationName}:{applicationVersion}
    </label>
    <div class="counter-uplink">
        <div class="arrow-container">
            <i id="counter-sent-arrow" class="icon arrow-up nf-fa-arrow_up_long"></i>
        </div>
        <div id="counter-sent-value" type="number" class="counter"></div>
    </div>
    <div class="counter-downlink">
        <div class="arrow-container">
            <i id="counter-received-arrow" class="icon arrow-down nf-fa-arrow_down_long"></i>
        </div>
        <div id="counter-received-value" type="number" class="counter"></div>
    </div>
    <div class="counter-data">
        <div class="icon-container">
            <i class="icon nf-md-database_sync_outline"></i>
        </div>
        <div id="counter-data" type="number" class="counter"></div>
        <div style="text-align: center; font-size: larger">MB</div>
    </div>
</div>