<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <meta name="_csrf_header" content="{inject:csrf.token}"/>
    <title>htmx-qute-quarkus</title>

    {! HTMX !}
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
    {! HyperScript !}
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12/dist/eventsource.js"></script>
    <script type="text/hyperscript">
        eventsource CliUpdates from http://localhost:8080/command/feedback
            on help
                put it into #feedback
                then show #feedback with display:block
            end

            on empty
                put it into #feedback
                then show #feedback with display:none
            end

            on internal_error
                put it into #feedback
                then show #feedback with display:block
            end

            on open
                log "connection opened."
            end

            on todoCreated
                put it at the end of #todo-grid
            end

            on close
                log "connection closed."
                log "trying to reconnect."
                call CliUpdates.open()
            end

            on error
                log "handle error here..."
            end
        end

        def navigation.focusById(id)
            js(id)
                document.getElementById(id).focus()
            end
        end
    </script>
    {! CSS !}
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="/styles/styles.css">
    {! FAVICON !}
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.ico">
</head>
<body _="on keyup[key is ':']
            navigation.focusById('command')
         end">
<div id="dashboard"
     class="fullscreen">

    <div id="top-bar"
         style="background: var(--almost-night)">
        <div class="bar-element-arrow-right float:left">
            <label class="padding-inline ok bg fg">
                alice@htmx-qute-quarkus
            </label>
            <div style="color: var(--mint)"></div>
        </div>
        <div class="bar-element-arrow-left float:right">
            <div style="color: var(--mint)"></div>
            <label class="padding-inline ok bg fg">
                version {applicationVersion ?: 'unknown'}
            </label>
        </div>
    </div>

    <div id="content">
        <div id="todo-grid"
             class="todo-grid">
        </div>
        <pre id="feedback" style="display: none">
        </pre>
    </div>

    <div id="bottom-bar"
         style="background: var(--almost-night)">
        <div class="bar-element-arrow-right float:left">
            <label class="padding-inline"
                   style="background: var(--magenta); color: var(--fg)">
                TODO
            </label>
            <div style="color: var(--magenta)"></div>
        </div>
        <div class="bar-element-arrow-left float:right">
            <div style="color: var(--true-blue)"></div>
            <label class="padding-inline info bg fg"
                   _="init
                        repeat forever
                            js
                                return new Date().toLocaleString('ru-RU', {
                                    timeStyle: 'short',
                                    dateStyle: 'short'
                                });
                            end
                            then put it into my.innerHTML
                            wait 60s
                    "
            >
            </label>
        </div>
    </div>

    <div id="command-line"
         class="command-line">
        <label class="command-prompt" for="command">:</label>
        <input class="command-input" id="command"
               name="command"
               type="search"
               hx-post="/command/execute"
               hx-trigger="keyup[key=='Enter']"
               _='on keyup
                            debounced at 500ms
                            fetch /command/analyze
                                with
                                    body: my value,
                                    method: "POST"'>
    </div>
</div>
</body>
</html>