{#include v1/entry/base}
    <form id="todo-form"
          class="todo-form-grid"
          style="padding-top: 4em"
          hx-post="/todo"
          hx-target="#todo-grid"
          hx-swap="beforeend"
          hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'>
        <div class="todo-form-title">
            <label class="allcaps" for="title">title</label>
            <input type=text id="title" name="title"
            _="on keydown[code is 'ArrowRight']
                navigation.focusById('start')
               end
               on keydown[code is 'ArrowDown']
                navigation.focusById('description')
               end">
        </div>
        <div class="todo-form-start">
            <label class="allcaps" for="start">start</label>
            <input type=date id="start" name="start"
            _="on keydown[code is 'ArrowRight']
                navigation.focusById('target')
               end
               on keydown[code is 'ArrowLeft']
                navigation.focusById('title')
               end
               on keydown[code is 'ArrowDown']
                navigation.focusById('description')
               end">
        </div>
        <div class="todo-form-target">
            <label class="allcaps" for="target">finish</label>
            <input type=date id="target" name="target"
            _="on keydown[code is 'ArrowDown']
                navigation.focusById('description')
               end
               on keydown[code is 'ArrowLeft']
                navigation.focusById('start')
               end">
        </div>
        <div class="todo-form-description">
            <label class="allcaps" for="description">description</label>
            <input type=text id="description" name="description"
            _="on keydown[code is 'ArrowUp']
                navigation.focusById('title')
               end
               on keydown[code is 'ArrowDown']
                navigation.focusByClass('todo')
               end">
        </div>
        <div class="todo-form-submit-button" style="padding-top: 1rem">
            <button class="button big color ok" type="submit">SUBMIT</button>
        </div>
    </form>

    <div class="fullbleed center">
        <div id="todo-grid" style="padding-top: 5rem" class="todo-grid" hx-ext="remove-me">
            {#for todo in todos}
                {#fragment id = todo}
                <div id="todo-{todo.id}" class="todo-item todo fade-me-out">
                    <div class="title-field">
                        <label class="allcaps" for="title-{todo.id}">title</label>
                        <input type=text id="title-{todo.id}" name="title" readonly value="{todo.getTitle()}">
                    </div>
                    <div class="start-field">
                        <label class="allcaps" for="start-{todo.id}">start</label>
                        <input style="font-size: smaller" type=date id="start-{todo.id}" name="start" readonly>
                    </div>
                    <div class="target-field">
                        <label class="allcaps" for="target-{todo.id}">finish</label>
                        <input style="font-size: smaller" type=date id="target-{todo.id}" name="target" readonly value="{todo.getTarget()}">
                    </div>
                    <div class="description-field">
                        <label class="allcaps" for="description-{todo.id}">description</label>
                        <input type=text id="description-{todo.id}" name="description" readonly value="{todo.getDescription()}">
                    </div>
                    <div class="abort-button">
                        <button hx-delete="/todo/{todo.id}"
                                hx-swap="outerHTML swap:1s"
                                hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
                                hx-target="#todo-{todo.id}"
                                type="button" class="small color bad">
                            ABORT
                        </button>
                    </div>
                    <div class="complete-button">
                        <button hx-post="/todo/{todo.id}/complete"
                                hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
                                hx-target="#todo-{todo.id}"
                                hx-swap="outerHTML"
                                type="button" class="small color ok">
                            COMPLETE
                        </button>
                    </div>
                </div>
                {/fragment}
            {/for}
        </div>
    </div>

{/include}