<dialog id="user-dialog"
        class="user-dialog"
        container-="auto"
        _="on load call my.showModal()"
>
    <div class="box" box-="square" shear-="top">
        <div class="header">
            <span>
                [user information]
            </span>
        </div>
        <div class="content">
            <div class="row">
                <div>username</div>
                <div>alice</div>
            </div>
            <div class="metrics-heading">
                metrics
            </div>
            <div class="row">
                <div>created</div>
                <div>0</div>
            </div>
            <div class="row">
                <div>updated</div>
                <div>0</div>
            </div>
            <div class="row">
                <div>deleted</div>
                <div>0</div>
            </div>
        </div>
    </div>
</dialog>