{#include v1/entry/base}
    {#header}
        <div class="left">
        <p>Yo <span class="bold">{username ?: 'Anonymous'}</span></p>
        <p>What's new?</p>
        </div>

        <a hx-get="/api/v1/todo/todo-form"
           hx-target="body"
           hx-swap="beforeend">
            <h4 class="allcaps packed left">
                create
                <sub-title>todo</sub-title>
            </h4>
        </a>

        <a>
            <h4 class="allcaps packed left">
                view
                <sub-title>calendar</sub-title>
            </h4>
        </a>
    {/header}

    <div id="todo-board"
         hx-get="/api/v1/todo/all"
         hx-trigger="load">
    </div>

    <div id="todo-modal"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{/include}