<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>reactive-todos</title>
    {! HTMX !}
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    {! HyperScript !}
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    {! CSS !}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1/prism">
    <link rel="stylesheet" href="styles.css">
    {! FAVICON !}
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<header class="navbar">
    <nav class="contents">
        <h3 class="allcaps italic packed center">
            <a href="/api/v1">reactive todos</a>
        </h3>
        {#insert header}{/}
    </nav>
</header>
<main id="main"
      hx-ext="response-targets">
    <div id="content-container">
        {#insert}{/}
    </div>
    <div id="error-container"></div>
</main>
<footer>
    <p>version 1.0.0</p>
</footer>
</body>
</html>