{#include v1/entry/base}
    <div style="padding-top: 8em">
        <h1>
            REACTIVE TODOs
        </h1>
        <p>
            Welcome to REACTIVE TODOs! It's not just any task manager – it's your ultimate productivity buddy.
            This app keeps things super easy and organized, focusing on making your life simpler.
            Create, update, or delete tasks hassle-free in a clean, user-friendly setup.
        </p>
        <p>
            REACTIVE TODOs uses cool tech stuff to make things smooth. It's all about giving you a quick, responsive
            experience. Instead of overloading your device, it cleverly lets the server do the heavy lifting, keeping
            your
            experience smooth and effortless. Plus, sign in easily with Google, Facebook, Apple, and more to keep things
            simple from the start!
        </p>
        <div class="block">
            <a class="<button> big color ok" href="/todo/board">SIGN IN</a>
            <a class="<button> big color bad" href="/user/register">SIGN UP</a>
        </div>
    </div>
{/include}
