<form id="authentication-form"
      hx-post="/api/v1/user/authenticate"
      hx-target-5*="#error-container"
      hx-target-4*="#error-container"
      hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
      class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label class="allcaps" for="username">username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="pure-control-group">
            <label class="allcaps" for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="pure-controls">
            <button type="submit" class="button big"><span class="allcaps">Sign In</span></button>
        </div>
    </fieldset>
</form>
<div id="error-container" hx-swap-oob="true"></div>