<form hx-post="/registration"
      hx-target="#content-container"
      hx-target-5*="#error-container"
      hx-target-4*="#error-container"
      hx-trigger="submit"
      class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="pure-control-group">
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="pure-control-group">
            <label for="repeat-password">repeat password</label>
            <input type="password" name="repeat-password" id="repeat-password">
        </div>
        <div class="pure-controls">
            <button type="submit" class="button big">register</button>
        </div>
    </fieldset>
</form>
<div id="error-container" hx-swap-oob="true"></div>