{@java.util.List<space.nanobreaker.core.domain.v1.todo.Todo> todos}
{@space.nanobreaker.core.domain.v1.todo.Todo todo}
{@java.time.ZoneId zoneId}

{#include base}
    <div id="dashboard"
         class="fullscreen bg">

        <div id="top-bar"
             hx-get="/topbar"
             hx-trigger="load"
             hx-swap="outerHTML">
        </div>

        <div id="content">
            <div hidden="hidden"
                 hx-target="body"
                 hx-get="/todos/create"
                 hx-swap="beforeend"
                 hx-trigger="keyup[ctrlKey&&key=='a'] from:body">
            </div>

            <div id="todo-grid" class="todo-grid">
                {#fragment id = items}
                    {#each todos}
                        {#fragment id = item}
                            <div id="todo-{todo.id.id}"
                                 hx-get="/todo/{todo.id.id}"
                                 hx-trigger="sse:todo.updated.{todo.id.id}"
                                 hx-swap="outerHTML"
                                 class="todo crowded fade-me-out">

                                <div class="identifier fade-me-out"
                                     hx-delete="/todo/{todo.id.id}"
                                     hx-trigger="sse:todo.to.delete.{todo.id.id}"
                                     hx-target="#todo-{todo.id.id}"
                                     hx-swap="outerHTML swap:1s">
                                    {id:format(todo.id.id)}
                                </div>

                                <div class="title padding">{todo.title}</div>

                                {#if date:isDateTimePresent(todo.start) }
                                    <div class="start-label">=>></div>
                                    <div class="start-date-time">
                                        <div class="start-date padding">{date:formatDate(todo.start, zoneId)}</div>
                                        <div class="start-time padding">{date:formatTime(todo.start, zoneId)}</div>
                                    </div>
                                {#else if date:isDatePresent(todo.start) }
                                    <div class="start-label">=>></div>
                                    <div class="start-date-single padding">{date:formatDate(todo.start, zoneId)}</div>
                                {/if}

                                {#if date:isDateTimePresent(todo.end) }
                                    <div class="end-label"><<=</div>
                                    <div class="end-date-time">
                                        <div class="end-date padding">{date:formatDate(todo.end, zoneId)}</div>
                                        <div class="end-time padding">{date:formatTime(todo.end, zoneId)}</div>
                                    </div>
                                {#else if date:isDatePresent(todo.end) }
                                    <div class="end-label"><<=</div>
                                    <div class="end-date-single padding">{date:formatDate(todo.end, zoneId)}</div>
                                {/if}

                                {#if todo.getDescription().isSome()}
                                    <div class="description-label">*</div>
                                    <div class="description padding">{todo.getDescription().value()}</div>
                                {/if}
                            </div>
                        {/fragment}
                    {/each}
                {/fragment}
            </div>
        </div>

        <div id="bottom-bar"
             hx-get="/bottombar"
             hx-trigger="load"
             hx-swap="outerHTML">
        </div>
    </div>
{/include}