<!DOCTYPE html>
<html lang="en" data-webtui-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=2">

    <title>reactive-todos</title>

    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/heavy-data">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@webtui/css@0.1.7/dist/full.css">
    <link rel="stylesheet" href="/styles/app.css">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.2/response-targets.js"></script>

    <script src="/scripts/app.hs" type="text/hyperscript"></script>
    <script src="https://cdn.jsdelivr.net/npm/hyperscript.org@0.9.91/dist/_hyperscript.min.js"></script>
</head>
{#insert}{/}
</html>