<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <meta name="_csrf_header" content="{inject:csrf.token}"/>
    <title>htmx-qute-quarkus</title>

    <script src="https://unpkg.com/htmx.org@2.0.1"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script type="text/hyperscript">
        def navigation.focusById(id)
            js(id)
                document.getElementById(id).focus()
            end
        end
    </script>

        {#bundle /}

    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon/favicon.png">
</head>
<body hx-ext="response-targets"
      _="init
            set zone to (window.Intl.DateTimeFormat().resolvedOptions().timeZone)
            set cookies['time-zone'] to { value: zone, maxAge: 600 }
         on keyup[key is ':']
            navigation.focusById('command')
         end">
{#insert}{/}
</body>
</html>