<div id="bottom-bar"
     hx-ext="sse"
     sse-connect="/sse">

    <div id="feedback"></div>

    <div>
        <div class="bar-element-arrow-right float:left">
            <label class="padding-inline" style="display: flex; align-items: center">COMMAND</label>
            <div></div>
        </div>
        <div class="bar-element-arrow-left float:right">
            <div></div>
            <label class="with-icon padding-inline info"
                   style="display: flex; align-items: center"
                   _="init repeat forever
                            js
                                return new Date().toLocaleString('ru-RU', {
                                    timeStyle: 'short',
                                    dateStyle: 'short'
                                });
                            end
                            then put it into my.innerHTML
                            wait 60s
                    ">
                <i class="nf-md-calendar_clock"></i>
            </label>
        </div>
    </div>

    <form class="command-line"
          hx-post="/commands/submit"
          hx-target="#todo-grid"
          hx-target-error="#feedback"
          hx-swap="innerHTML">
        <label for="command"
               class="command-prompt">
            :
        </label>
        <input id="command"
               class="command-input"
               name="command"
               type="search"
               hx-post="/commands/validate"
               hx-trigger="change, keyup delay:200ms changed"
               hx-target="#feedback"
               hx-swap="innerHTML"
               _="on command.empty from:document
                  set my value to ''">
        <input type="submit"
               hidden="hidden"
               hx-trigger="key[Enter]">
    </form>
</div>