{#include base}
    <div id="dashboard"
         class="fullscreen"
         hx-ext="sse"
         sse-connect="/command/feedback">

        <div id="top-bar"
             class="padding"
             style="background: var(--almost-night)">
            <label class="top-bar-title mono-font">alice@reactive-todos:1.0.0-snapshot</label>
            <div class="counter-uplink"
                 _="on htmx:responseError from document
                        remove .fine from me
                        add .accent to me
                    on htmx:afterRequest from document
                        remove .accent from me
                        then add .fine to me
                   ">
                <div class="arrow-container-up">
                    <i class="arrow-up top-bar-conup nf-fa-arrow_up_long"
                       _="  on htmx:afterRequest from document
                                add .slide-up-animation to me
                                then wait 1s
                                then remove .slide-up-animation from me
                            on fetch:afterRequest from document
                                add .slide-up-animation to me
                                then wait 1s
                                then remove .slide-up-animation from me
                         ">
                    </i>
                </div>
                <div type="number"
                     id="s-counter"
                     class="counter"
                     _="init put '000' into my innerHTML
                        on htmx:afterRequest from document
                            increment my.innerHTML
                            set my.innerHTML to my.innerHTML.toString().padStart(3, '0')
                        on fetch:afterRequest from document
                            increment my.innerHTML
                            set my.innerHTML to my.innerHTML.toString().padStart(3, '0')
                       ">
                </div>
            </div>
            <div class="counter-downlink"
                 _="on htmx:sseError from document
                        remove .fine from me
                        add .accent to me
                    on htmx:sseOpen from document
                        remove .accent from me
                        then add .fine to me
                   ">
                <div class="arrow-container-down">
                    <i class="arrow-down top-bar-condown nf-fa-arrow_down_long"
                       _="on htmx:sseMessage from document
                            add .slide-down-animation to me
                            then wait 1s
                            then remove .slide-down-animation from me
                         ">
                    </i>
                </div>
                <div type="number"
                     id="r-counter"
                     class="counter"
                     _="init put '000' into my innerHTML
                        on htmx:sseMessage from document
                            increment my.innerHTML
                            set my.innerHTML to my.innerHTML.toString().padStart(3, '0')
                       ">
                </div>
            </div>
            <div class="counter-data">
                <div class="icon-container">
                    <i class="nf-md-database_sync_outline" style="font-style: normal"></i>
                </div>
                <div type="number"
                     id="d-counter"
                     class="counter"
                     _="init put '0000.0000' into my innerHTML
                        on fetch:afterRequest from document
                            get metric()
                            set my.innerHTML to it.padStart(9, '0')
                       ">
                </div>
                <div style="text-align: center; font-size: larger">MB</div>
            </div>
        </div>

        <div id="content">
            <div id="todo-grid"
                 class="todo-grid"
                 sse-swap="todo.created,todo.updated"
                 hx-swap="beforeend">
            </div>
            <div id="feedback"
                 sse-swap="help,empty,internal_error"
                 hx-swap="innerHTML">
            </div>
        </div>

        <div id="bottom-bar"
             style="background: var(--night)">
            <div class="bar-element-arrow-right float:left">
                <label class="padding-inline"
                       style="background: var(--almost-night); color: var(--fg)">
                    COMMAND
                </label>
                <div style="color: var(--almost-night)"></div>
            </div>
            <div class="bar-element-arrow-left float:right">
                <div style="color: var(--almost-night)"></div>
                <label class="with-icon padding-inline info fg"
                       style="background: var(--almost-night)"
                       _="init
                        repeat forever
                            js
                                return new Date().toLocaleString('ru-RU', {
                                    timeStyle: 'short',
                                    dateStyle: 'short'
                                });
                            end
                            then put it into my.innerHTML
                            wait 60s
                    "
                >
                    <i class="nf-md-calendar_clock"></i>
                </label>
            </div>
        </div>

        <div id="command-line"
             class="command-line">
            <label class="command-prompt" for="command">:</label>
            <input class="command-input" id="command"
                   name="command"
                   type="search"
                   hx-post="/command/execute"
                   hx-trigger="keyup[key=='Enter']"
                   hx-target="#feedback"
                   hx-target-error="#feedback"
                   _="on keyup[key!=='Enter']
                            debounced at 500ms
                            fetch /command/analyze
                                with
                                    body: my value,
                                    method: 'POST'">
        </div>
    </div>
{/include}