{#include base}
    <div id="dashboard"
         class="fullscreen">

        <div id="top-bar"
             style="background: var(--almost-night)">
            <div class="float:left">
                <label class="padding-inline mono-font">
                    alice@htmx-qute-quarkus:{applicationVersion ?: 'unknown'}
                </label>
            </div>

            <div id="sse-connection-status" class="float:right">
                <label class="padding-inline mono-font">
                    SSE
                    <chip id="sse-connection-chip"
                          style="border-radius: unset;">
                    </chip>
                </label>
            </div>
        </div>

        <div id="content">
            <div id="todo-grid"
                 class="todo-grid">
            </div>
            <pre id="feedback" style="display: none">
            </pre>
        </div>

        <div id="bottom-bar"
             style="background: var(--almost-night)">
            <div class="bar-element-arrow-right float:left">
                <label class="padding-inline"
                       style="background: var(--magenta); color: var(--fg)">
                    TODO
                </label>
                <div style="color: var(--magenta)"></div>
            </div>
            <div class="bar-element-arrow-left float:right">
                <div style="color: var(--true-blue)"></div>
                <label class="padding-inline info bg fg"
                       _="init
                        repeat forever
                            js
                                return new Date().toLocaleString('ru-RU', {
                                    timeStyle: 'short',
                                    dateStyle: 'short'
                                });
                            end
                            then put it into my.innerHTML
                            wait 60s
                    "
                >
                </label>
            </div>
        </div>

        <div id="command-line"
             class="command-line">
            <label class="command-prompt" for="command">:</label>
            <input class="command-input" id="command"
                   name="command"
                   type="search"
                   hx-post="/command/execute"
                   hx-trigger="keyup[key=='Enter']"
                   hx-target="#feedback"
                   hx-target-error="#feedback"
                   _="on keyup[key!=='Enter']
                            debounced at 500ms
                            fetch /command/analyze
                                with
                                    body: my value,
                                    method: 'POST'">
        </div>
    </div>
{/include}