@import url(variables.css);

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    color: var(--fg);
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
    filter: invert(1);
}

html {
    cursor: text;
}

.command-line-interface {
    width: 100%;
    display: grid;
    grid-template:  [prompt] "c" [prompt]
                      [info] "i" [info];

    .command-line {
        display: grid;
        grid-area: c;
        grid-template:   [prompt] "p c" [prompt];
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.2em;

        border-color: var(--faded-fg);

        .command-prompt {
            padding-top: 0.1rem;
            grid-area: p;
        }

        .command-prompt:hover {
            color: var(--magenta);
        }

        .command-input {
            grid-area: c;
            height: 2em;
            border: unset;

            caret-color: var(--magenta);
        }

        .command-input:focus {
            outline: none;

            border-bottom-style: solid;
            border-bottom-width: 0.01rem;
            border-bottom-color: var(--magenta);
        }
    }
}

.command-line-interface:has(.command-prompt:hover) {
    .legend {
        color: var(--accent);
    }

    border-color: var(--accent);
}

.command-line-interface:has(.command-input:hover) {
    .legend {
        color: var(--accent);
    }

    border-color: var(--accent);
}

.command-line-parser:has(.command-prompt:hover) {
}

.command-line-parser {

    .command-parser-output {
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}

.command-line-parser:hover {
    .legend {
        color: var(--accent);
    }

    border-color: var(--accent);
}


.todo-form-grid {
    display: grid;
    grid-template:   [primary-fields-top] "t t s f" [primary-fields-bottom]
                   [secondary-fields-top] "d d d d" [secondary-fields-bottom]
                            [buttons-top] "b . . ." [buttons-bottom];
}

@media screen and (max-width: 80rem) {
    .todo-form-grid {
        display: grid;
        grid-template:    [primary-fields-top] "t t" [primary-fields-bottom]
                        [secondary-fields-top] "s f" [secondary-fields-bottom]
                             [third-field-top] "d d" [third-field-bottom]
                                 [buttons-top] "b ." [buttons-bottom];
    }
}

@media screen and (max-width: 40rem) {
    .todo-form-grid {
        display: grid;
        grid-template:    [primary-fields-top] "t" [primary-fields-bottom]
                        [secondary-fields-top] "s" [secondary-fields-bottom]
                             [third-field-top] "f" [third-field-bottom]
                              [four-field-top] "d" [four-field-bottom]
                                 [buttons-top] "b" [buttons-bottom];
    }
}

.todo-form-title {
    grid-area: t;
}

.todo-form-start {
    grid-area: s;
}

.todo-form-target {
    grid-area: f;
}

.todo-form-description {
    grid-area: d;
}

.todo-form-submit-button {
    grid-area: b;
}

.todo-grid {
    display: grid;
    max-width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
}

.todo-item {
    display: grid;
    grid-template: [title-top] "t    t    t    t" [title-bottom]
                   [dates-top] "s    s    f    f" [dates-bottom]
             [description-top] "d    d    d    d" [description-bottom]
                 [buttons-top] "c    c    e    e" [buttons-bottom]
                             /  1fr  1fr  1fr  1fr;
}

.title-field {
    grid-area: t;
}

.start-field {
    grid-area: s;
}

.target-field {
    grid-area: f;
}

.todo {
    box-sizing: border-box;
    border-width: medium;
    border-style: solid;
    border-color: var(--graphical-fg);
    border-radius: unset;
}

.todo:hover {
    border-color: var(--fg);
}

.todo button {
    min-height: var(--rhythm);
    background: var(--bg);
    box-shadow: unset;
    border: unset;
    border-radius: unset;
}

.todo :is(button,.\<button\>):hover, :is(button,.\<button\>):focus-visible {
    filter: brightness(1.1);
    box-shadow: 0 3px 6px -2px var(--accent);
    text-decoration: none;
}

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}