@font-face {
    font-family: 'berkeley-font';
    src: url('../fonts/secret.woff') format('woff');
}

:root {
    --main-font: 'berkeley-font', 'Source Sans 3', 'Fira Code', -apple-system, system-ui, sans-serif;
}

button {
    min-height: unset;
    background: var(--bg);
    border: 2px solid var(--warn-faded-fg);
    border-radius: unset;
}

#todo-grid {
    width: 80vw;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.todo {
    max-width: 20vw;
    box-sizing: border-box;
    border: 2px solid var(--graphical-fg);
    border-radius: unset;
}

.todo:hover {
    background: var(--bg);
    border: 2px solid var(--fg);
}

.todo button {
    min-height: var(--rhythm);
    background: var(--bg);
    box-shadow: unset;
    border: unset;
    border-radius: unset;
}

.todo :is(button,.\<button\>):hover, :is(button,.\<button\>):focus-visible {
    filter: brightness(1.1);
    box-shadow: 0 3px 6px -2px var(--accent);
    text-decoration: none;
}

input {
    height: 40px;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid var(--graphical-fg);
    border-radius: unset;
}

input[type=text]:hover {
    box-sizing: border-box;
    border: 2px solid var(--fg);
    border-radius: unset;
}

input[type=text]:hover + label {
    color: var(--accent);
}

input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type=date] {
    box-sizing: border-box;
    border: 2px solid var(--graphical-fg);
    border-radius: unset;
}

input[type=date]:hover {
    box-sizing: border-box;
    border: 2px solid var(--fg);
    border-radius: unset;
}

.hover {
    box-sizing: border-box;
    border: 2px solid var(--fg);
    border-radius: unset;
}

label[for] {
    padding-left: 0.5rem;
    font-size: small;
}

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.todo-content {
    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    background-color: #121210;
    padding: 10px;
}

.todo-content > .input {
    background-color: #121210;
!important;
}

.todo-content > .textarea {
    background-color: #121210;
!important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}