@font-face {
    font-family: 'jetbrainsmono-regular';
    src: url("/fonts/jetbrainsmono-regular.woff2") format("woff");
}

@font-face {
    font-family: 'jetbrainsmono-bold';
    src: url("/fonts/jetbrainsmono-bold.woff2") format("woff");
}

:root {
    /* Lengths */
    --rhythm: 1.8rem; /* Vertical rhythm, line height. */
    --line-length: 42rem; /* Maximum line length for prose. */
    --border-radius: .0rem;

    /* Fonts */
    --main-font: 'jetbrainsmono-regular';
    --secondary-font: 'jetbrainsmono-bold';
    --mono-font: 'jetbrainsmono-regular';

    /* Colors */
    --night: #0a0c0fff;
    --french-gray: #bec3cbff;
    --antiflash-white: #f0f3f5ff;
    --fire-engine-red: #c42021ff;
    --tangerine: #f18701ff;
    --xanthous: #f0b72fff;
    --mint: #68a27aff;
    --true-blue: #576ca8ff;
    --magenta: #e36588ff;

    --bg: var(--night);
    --fg: var(--antiflash-white);
    --faded-fg: var(--french-gray);
    --graphical-fg: var(--antiflash-white);
    --box-bg: var(--night);
    --interactive-bg: var(--night);
    --accent: var(--tangerine);
    --muted-accent: var(--xanthous);

    --plain-fg: var(--antiflash-white);
    --plain-bg: var(--night);
    --plain-graphical-fg: var(--night);

    --info-fg: var(--antiflash-white);
    --info-bg: var(--true-blue);
    --info-graphical-fg: var(--true-blue);

    --ok-fg: var(--night);
    --ok-bg: var(--mint);
    --ok-graphical-fg: var(--mint);

    --bad-fg: var(--antiflash-white);
    --bad-bg: var(--fire-engine-red);
    --bad-graphical-fg: var(--fire-engine-red);

    --warn-fg: var(--night);
    --warn-bg: var(--tangerine);
    --warn-graphical-fg: var(--tangerine);
}

@media (prefers-color-scheme: dark) {
    :root:not(.-no-dark-theme) {

        --bg: var(--night);
        --fg: var(--antiflash-white);
        --faded-fg: var(--french-gray);
        --graphical-fg: var(--antiflash-white);
        --box-bg: var(--night);
        --interactive-bg: var(--night);
        --accent: var(--tangerine);
        --muted-accent: var(--xanthous);

        --plain-fg: var(--antiflash-white);
        --plain-bg: var(--night);
        --plain-graphical-fg: var(--night);

        --info-fg: var(--antiflash-white);
        --info-bg: var(--true-blue);
        --info-graphical-fg: var(--true-blue);

        --ok-fg: var(--night);
        --ok-bg: var(--mint);
        --ok-graphical-fg: var(--mint);

        --bad-fg: var(--antiflash-white);
        --bad-bg: var(--fire-engine-red);
        --bad-graphical-fg: var(--fire-engine-red);

        --warn-fg: var(--night);
        --warn-bg: var(--tangerine);
        --warn-graphical-fg: var(--tangerine);
    }
}
