<form id="todo-{todo.id.id}"
        {#if swap } hx-swap-oob="true" {/if}
      hx-get="/todo/{todo.id.id}"
      hx-trigger="sse:todo.updated.{todo.id.id}"
      hx-swap="outerHTML"
      class="todo crowded fade-me-out">
    <pre class="title">{todo.title}</pre>
    {#if todo.getStart().isPresent()}
        <div class="start">
            <div class="time">{todo.getStart().get().toString()}</div>
            <div class="arrow-right"></div>
        </div>
    {/if}
    {#if todo.getEnd().isPresent()}
        <div class="end">
            <div class="arrow-left"></div>
            <div class="time">{todo.getEnd().get().toString()}</div>
        </div>
    {/if}
    {#if todo.getDescription().isPresent()}
        <pre class="description padding-inline">{todo.description}</pre>
    {/if}
</form>