<div id="todo-grid"
     class="todo-grid"
     sse-swap="todo.created,todo.updated"
     hx-swap="beforeend" {#if oob }hx-swap-oob="true"{/if}>
    {#for todo in todos}
        <form id="todo-{todo.id.id}"
              hx-get="/todo/{todo.id.id}"
              hx-trigger="sse:todo.updated.{todo.id.id}"
              hx-swap="outerHTML"
              class="todo crowded fade-me-out">

            <div class="identifier">{todo.id.id.formatId}</div>

            <div class="title padding">{todo.title}</div>

            {#if todo.start.isPresent() && todo.start.isTimePresent() }
                <div class="start-label">=>></div>
                <div class="start-date-time">
                    <div class="start-date padding allcaps">{todo.start.formatDate}</div>
                    <div class="start-time padding">{todo.start.formatTime}</div>
                </div>
            {#else if todo.start.isPresent() }
                <div class="start-label">=>></div>
                <div class="start-date-single padding allcaps">{todo.start.formatDate}</div>
            {#else if todo.start.isTimePresent() }
                <div class="start-label">=>></div>
                <div class="start-time-single padding">{todo.start.formatTime}</div>
            {/if}

            {#if todo.end.isPresent() && todo.end.isTimePresent() }
                <div class="end-label"><<=</div>
                <div class="end-date-time">
                    <div class="end-date padding allcaps">{todo.end.formatDate}</div>
                    <div class="end-time padding">{todo.end.formatTime}</div>
                </div>
            {#else if todo.end.isPresent() }
                <div class="end-label"><<=</div>
                <div class="end-date-single padding allcaps">{todo.end.formatDate}</div>
            {#else if todo.end.isTimePresent() }
                <div class="end-label"><<=</div>
                <div class="end-time-single padding">{todo.end.formatTime}</div>
            {/if}

            {#if todo.description.isPresent()}
                <div class="description-label">*</div>
                <pre class="description padding">{todo.description}</pre>
            {/if}
        </form>
    {/for}
</div>