{#include base}
    <main class="padding"
          style="display: grid;place-items: center;height: 80vh;">
        <div>
            <h1 class="title-font"
                style="font-size: xxx-large">
                REACTIVE TODOS
            </h1>
            <p>
                Another iteration of the ubiquitous todo application—hopefully, this time, it can be called a finite
                instance.
            </p>
            <p>
                This application is the result of a process of exploration. I searched for synergy while implementing a
                web application using the Quarkus framework for the server-side and the HTMX library for the
                client-side.
            </p>
            <p>
                The reactive nature of Quarkus led me into the world of Mutiny, where I encountered a plethora of tasks
                and changes that reactive programming implies, such as unis, multies, blocking, and non-blocking
                operations.
                Honestly, I realized that I prefer imperative programming more.
            </p>
            <p>
                Server-Sent Events (SSE) are used to push back synchronous events from the server.
            </p>
            <p>
                Being a victim of enterprise Java, I followed the Ports & Adapters architecture, incorporating both
                clean and non-clean code.
                The project is sharded into modules, making it easy to split it into microservices or simply implement a
                new version and migrate away.
            </p>
            <p>
                Finally, the light of Java 21 shines with sealed types and records, along with pattern matching—a
                game-changer that has altered the way I approach typical tasks.
                With Rust-like wrappers such as Result and Option, they have changed the way I handle error handling and
                optionality.
            </p>
            <p>
                Well, I hope you gain some knowledge and inspiration here.
                It's been a pleasure to create this. Enjoy!
            </p>
            <a class="<button> big color plain"
               style="width: 100%;
                      line-height: 1.6rem;
                      border: unset;
                      background: var(--fg);
                      color: var(--night);"
               href="/dashboard">
                AUTHENTICATE
            </a>
        </div>
    </main>
{/include}
