<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf_header" content="{inject:csrf.token}" />
  <title>reactive todos</title>

  {! FAVICON !}
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.ico">

  {#bundle /}
</head>

<body>
  <main class="box" id="main">
    <p>HELLO BITCHEZ THIS IS MY GROUND YO</p>
    <p class="test">HELLO BITCHEZ THIS IS MY GROUND YO</p>
  </main>
</body>

</html>
