<form id="authentication-form"
      hx-post="/authentication"
      hx-target="#content-container"
      hx-target-5*="#error-container"
      hx-target-404="#error-container"
      class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">username</label>
            <input type="text" name="username" id="username" placeholder="{username ?: ''}">
        </div>
        <div class="pure-control-group">
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="pure-controls">
            <button type="submit" class="button big">authenticate</button>
        </div>
    </fieldset>
</form>
<div id="error-container" hx-swap-oob="true"></div>