<form hx-post="/todo"
      hx-target="#todo-grid"
      hx-swap="beforeend"
      class="pure-form pure-form-aligned">
    <fieldset>
        <legend>
            <a class="text-light c-white">Todo Form</a>
        </legend>
        <div class="pure-control-group">
            <label for="title">[*title: string]</label>
            <input type="text" id="title" name="title"/>
        </div>
        <div class="pure-control-group">
            <label for="description">[description: string]</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div class="pure-control-group">
            <label for="target">[target: yyyy-mm-dd]</label>
            <input type="text" id="target" name="target"/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="button big">Create</button>
        </div>
    </fieldset>
</form>